<section class="card">
  <a href="/post/{{id}}">
    <header>
      <p>Posted by {{user.username}} on {{format_date this.posted_date}}</p>
    </header>
    <div class="content">
      <p>{{this.content}}</p>
    </div>
  </a>
</section>