<div class="card">
    <h2>Create New Post</h2>
    <div class="content">
      <form class="create-form">
        <div>
          <label for="form-title">Title:</label>
          <input class="form-input" type="text" id="form-title" />
        </div>
        <div>
          <label for="form-content">Content:</label>
          <input class="form-input" type="text" id="form-content" />
        </div>
        <div>
          <button class="submit-button" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>

<script src="./js/create-post.js"></script>