<section class="card">
  <header>
    <h2>{{post.title}}</h2>
    <p>Posted by {{post.user.username}} on {{format_date post.posted_date}}</p>
  </header>
  <div class="content">
    <p>{{post.content}}</p>
  </div>
</section>